body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;

}
.links {
  color: Aquamarine;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}
p{
  font-size: 21px;
  color: gray;
}

footer {
  font-size: 21px;
  text-align: right;
  color: gray;
  margin-bottom: 20px;
}
video {
  margin-top: 20px;
}
.comming {
  margin-top: 20px;
}
